<div class="row">
  todo : put here game info
</div>

<div class="example-container">
  <h2>Public boad</h2>

  <div
    *ngFor="let list of lists"
    id="{{list.id}}"
    cdkDropList
    [cdkDropListData]="list.pieces"
    cdkDropListOrientation="horizontal"
    [cdkDropListConnectedTo]=allLists
    class="example-list"
    (cdkDropListDropped)="movePiece($event)"
    [cdkDropListEnterPredicate]="checkMovePiece">
    <div
      class="example-box"
      *ngFor="let piece of list.pieces"
      [cdkDragDisabled]="isEmptyPiece(piece)"
      [cdkDragData]="piece"
      cdkDrag>
        <app-piece [piece]="piece"></app-piece>
    </div>

  </div>
</div>

<div class="example-container">
  <h2>Personal rule</h2>

  <div
    id="rule"
    cdkDropList
    [cdkDropListData]=myList
    [cdkDropListConnectedTo]=allLists
    cdkDropListOrientation="horizontal"
    class="example-list"
    (cdkDropListDropped)="movePiece($event)"
    [cdkDropListEnterPredicate]="checkMovePiece" #myrule>
    <div
      class="example-box"
      *ngFor="let piece of myList"
      cdkDrag
      [cdkDragDisabled]="isEmptyPiece(piece)"
      [cdkDragData]="piece">
      <app-piece [piece]="piece"></app-piece>
    </div>
  </div>
  </div>
  <div
    class="example-box"
    cdkDrag
    [cdkDragDisabled]=true
    [cdkDragData]=emptyPiece>
    <app-piece [piece]="emptyPiece"></app-piece>
  </div>

  <button type="button" (click)="add()">
    <span class="material-icons">add</span>
  </button>

  <button type="button" (click)="testRemoteMove()">
    <span class="material-icons">download</span>
  </button>
