<div class="example-container">
  <h2>Available numbers</h2>

  <div
    *ngFor="let list of lists"
    id="{{list.id}}"
    cdkDropList
    [cdkDropListData]="list.pieces"
    cdkDropListOrientation="horizontal"
    [cdkDropListConnectedTo]=allLists
    class="example-list"
    (cdkDropListDropped)="movePiece($event)"
    [cdkDropListEnterPredicate]="checkMovePiece">
    <div
      class="example-box"
      *ngFor="let piece of list.pieces"
      [cdkDragData]="piece"
      cdkDrag>
        <app-piece [piece]="piece"></app-piece>
    </div>

  </div>
  <div
    id="all"
    cdkDropList
    [cdkDropListData]="all"
    cdkDropListOrientation="horizontal"
    cdkDropListConnectedTo="even"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListEnterPredicate]="noReturnPredicate">
    <div
      class="example-box"
      *ngFor="let piece of all"
      [cdkDragData]="piece"
      cdkDrag>
        <app-piece [piece]="piece"></app-piece>
    </div>
  </div>
</div>

<div class="example-container">
  <h2>Even numbers</h2>

  <div
    id="even"
    cdkDropList
    [cdkDropListData]="even"
    cdkDropListConnectedTo="all"
    cdkDropListOrientation="horizontal"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListEnterPredicate]="evenPredicate">
    <div
      class="example-box"
      *ngFor="let piece of even"
      cdkDrag
      [cdkDragData]="piece">
      <app-piece [piece]="piece"></app-piece>
    </div>
  </div>
</div>
