.piece {
  padding: 20px 15px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid #E6E0D8;
  cursor: move;
  background: white;
  font-size: 18;
  font-weight:bold;
}

.red {
  background-color: #E6D7C8;
  color: red;
}

.black {
  background-color: #E6D7C8;
  color: black;
}

.yellow {
  background-color: #E6D7C8;
  color: DarkOrange;

}

.blue {
  background-color: #E6D7C8;
  color: blue;
}

.none {
  background-color: #669900;
  border: none;
  cursor: default;
}
